## Объединение данных

Распутывать все эти таблички начнем с таблицы аэропорта

In [185]:
import re
import json
import csv
import pandas as pd
from pprint import pprint
import numpy as np

In [186]:
class Airport:
    max_id = 0
    def __init__(self, iata, country, city):
        Airport.max_id += 1
        self.id = Airport.max_id
        self.iata = iata
        self.country = country
        self.city = city
    
    def __eq__(self, other):
        return self.iata == other.iata
    def __hash__(self):
        return hash(self.iata)
    def __str__(self):
        return '{id: %s, iata: %s, country: %s, city: %s}' % (self.id, self.iata, self.country, self.city)

In [187]:
class Flight:
    max_id = 0
    def __init__(self, name, date, airport_from, airport_to):
        Flight.max_id += 1
        self.id = Flight.max_id
        self.persons = set([])
        self.name = name
        self.date = date
        self.airport_from = airport_from
        self.airport_to = airport_to
    
    def __eq__(self, other):
        return (self.name == other.name 
                and self.date == other.date 
                and self.airport_from == other.airport_from 
                and self.airport_to == other.airport_to)
    def __hash__(self):
        return hash(self.name) ^ hash(self.date) ^ hash(self.airport_from) ^ hash(self.airport_to) 
    def __str__(self):
        return '{id: %s, name: %s, date: %s, airport_from: %s, airport_to: %s, persons: %s}' % (
            self.id, 
            self.name, 
            self.date, 
            self.airport_from, 
            self.airport_to, 
            list(self.persons)
        )

In [188]:
class Person:
    max_id = 0
    def __init__(self, document, first_name, last_name, uuid=None):
        Person.max_id += 1
        self.id = Person.max_id
        self.flights = set([])
        self.cards = set([])
        self.document = document
        self.first_name = first_name
        self.last_name = last_name
        self.uuid = uuid
        
    def __eq__(self, other):
        if self.document and other.document:
            return self.document == other.document
        else:
            return self.uuid == other.uuid
    def __hash__(self):
        if self.document:
            return hash(self.document)
        else:
            return hash(self.uuid)
    def __str__(self):
        return '{id: %s, document: %s, first_name: %s, last_name: %s, flights: %s}' % (
            self.id, 
            self.document, 
            self.first_name, 
            self.last_name,
            list(self.flights)
        )

In [189]:
class Card:
    max_id = 0
    def __init__(self, status, number):
        Card.max_id += 1
        self.id = Card.max_id
        self.persons = set([])
        self.status = status
        self.number = number
    
    def __eq__(self, other):
        return self.number == other.number
    def __hash__(self):
        return hash(self.number)
    def __str__(self):
        return 'id: %s, status: %s, number: %s, persons: %s' % (
            self.id,
            self.status,
            self.number,
            self.persons
        )

In [190]:
airports = {}
def get_airport_id(iata, country=None, city=None):
    global airports
    
    airport = Airport(iata, country, city)
    if airport in airports:
        Airport.max_id -= 1
        airport = airports[airport]
        return airport.id, airport
    
    airports[airport] = airport
    return Airport.max_id, airport

In [191]:
flights = {}
def get_flight_id(name, date, iata_from, iata_to):
    global flights
    
    airport_from_id, _ = get_airport_id(iata_from)
    airport_to_id, _ = get_airport_id(iata_to)
    
    flight = Flight(name, date, airport_from_id, airport_to_id)
    if flight in flights:
        Flight.max_id -= 1
        flight = flights[flight]
        return flight.id, flight
    
    flights[flight] = flight
    return Flight.max_id, flight

In [192]:
persons = {}
def get_person_id(document, first_name, last_name, uuid=None):
    global persons
    
    person = Person(document, first_name, last_name, uuid)
    if person in persons:
        Person.max_id -= 1
        person = persons[person]
        return person.id, person
    
    persons[person] = person
    return Person.max_id, person

In [193]:
cards = {}
def get_card_id(status, number):
    global cards
    
    card = Card(status, number)
    if card in cards:
        Card.max_id -= 1
        card = cards[card]
        return card.id, card
    
    cards[card] = card
    return card.id, card

In [194]:
Airport.max_id = 0
Flight.max_id = 0
Person.max_id = 0
Card.max_id = 0
airports = {}
flights = {}
persons = {}
cards = {}

map_person = {}
map_airport = {}
# SkyTeamExchange_flight = pd.read_csv('./SkyTeam-Exchange/csv/SkyTeam-Exchange.flight.csv')

FrequentFlyerForumProfiles_place = pd.read_csv('./FrequentFlyerForum-Profiles/csv/FrequentFlyerForum-Profiles.place.csv')
FrequentFlyerForumProfiles_flight = pd.read_csv('./FrequentFlyerForum-Profiles/csv/FrequentFlyerForum-Profiles.flight.csv')
FrequentFlyerForumProfiles_account = pd.read_csv('./FrequentFlyerForum-Profiles/csv/FrequentFlyerForum-Profiles.account.csv')
FrequentFlyerForumProfiles_account.index = FrequentFlyerForumProfiles_account.id
FrequentFlyerForumProfiles_loyality = pd.read_csv('./FrequentFlyerForum-Profiles/csv/FrequentFlyerForum-Profiles.loyality.csv')
acc_len = len(FrequentFlyerForumProfiles_account.id)

for index, place in FrequentFlyerForumProfiles_place.iterrows():
    airport_id, airport_obj = get_airport_id(place.airport, place.country, place.city)
    map_airport[place.id] = place.airport
    
    if index % 100 == 0:
        print('AIRPORT', index, airport_obj)

for index, flight in FrequentFlyerForumProfiles_flight.iterrows():
    flight_id, flight_obj = get_flight_id(
        flight.flight, 
        flight.date, 
        map_airport[flight.departure], 
        map_airport[flight.arrival]
    )
    account_obj = FrequentFlyerForumProfiles_account.loc[flight.account_id]
    person_id, person_obj = get_person_id(
        None, 
        account_obj.first_name, 
        account_obj.last_name, 
        str(account_obj.id)
    )
    
    flight_obj.persons.add(person_id)
    person_obj.flights.add(flight_id)    
    map_person[flight.account_id] = person_id

    if index % 10000 == 0:
        print('FLIGHT', index, str(flight_obj))

for index, loyality in FrequentFlyerForumProfiles_loyality.iterrows():    
    person_id, person_obj = get_person_id(None, None, None, str(map_person[loyality.account_id]))
    card_id, card_obj = get_card_id(loyality.status, loyality.number)
    card_obj.persons.add(person_id)
    person_obj.cards.add(card_id)
    
    if index%1000==0:
        print('CARD', index, card_obj)

AIRPORT 0 {id: 1, iata: MYR, country: nan, city: MYR}
AIRPORT 100 {id: 101, iata: RUN, country: nan, city: Saint Denis De La Reunion}
AIRPORT 200 {id: 201, iata: SWA, country: China, city: Shantou}
AIRPORT 300 {id: 301, iata: MMK, country: Russian Federation, city: Murmansk}
AIRPORT 400 {id: 401, iata: BIO, country: Spain and Canary Islands, city: Bilbao}
AIRPORT 500 {id: 501, iata: RAE, country: Saudi Arabia, city: Arar}
AIRPORT 600 {id: 601, iata: HAH, country: Comoros, city: Moroni}
AIRPORT 700 {id: 701, iata: PSS, country: Argentina, city: Posadas}
AIRPORT 800 {id: 801, iata: BIL, country: United States of, city: Billings MT}
AIRPORT 900 {id: 901, iata: SBN, country: United States of, city: South Bend IN}
AIRPORT 1000 {id: 1001, iata: PBC, country: Mexico, city: Puebla}
AIRPORT 1100 {id: 1101, iata: KEJ, country: Russian Federation, city: Kemerovo}
FLIGHT 0 {id: 1, name: DL3377, date: 2017-03-04, airport_from: 438, airport_to: 668, persons: [1]}
FLIGHT 10000 {id: 9944, name: DL5809, date: 2017-09-17, airport_from: 497, airport_to: 299, persons: [511]}
FLIGHT 20000 {id: 19784, name: GA9327, date: 2017-09-09, airport_from: 370, airport_to: 346, persons: [1017]}
FLIGHT 30000 {id: 29554, name: AF1686, date: 2017-06-18, airport_from: 574, airport_to: 1051, persons: [1528]}
FLIGHT 40000 {id: 39306, name: SV1109, date: 2017-08-07, airport_from: 374, airport_to: 998, persons: [2032]}
FLIGHT 50000 {id: 48976, name: CI101, date: 2017-03-01, airport_from: 286, airport_to: 1113, persons: [2536]}
FLIGHT 60000 {id: 58575, name: SU1058, date: 2017-10-03, airport_from: 59, airport_to: 794, persons: [3041]}
FLIGHT 70000 {id: 68088, name: SU2597, date: 2017-04-01, airport_from: 633, airport_to: 794, persons: [3546]}
FLIGHT 80000 {id: 77566, name: KE1810, date: 2017-09-04, airport_from: 664, airport_to: 664, persons: [4054]}
FLIGHT 90000 {id: 87064, name: SV333, date: 2017-07-29, airport_from: 256, airport_to: 88, persons: [4557]}
FLIGHT 100000 {id: 25189, name: SU1531, date: 2017-01-03, airport_from: 841, airport_to: 794, persons: [1296, 5068, 2205]}
FLIGHT 110000 {id: 105867, name: MU5554, date: 2017-07-28, airport_from: 439, airport_to: 182, persons: [5579]}
FLIGHT 120000 {id: 115221, name: SV830, date: 2017-09-14, airport_from: 892, airport_to: 547, persons: [6087]}
FLIGHT 130000 {id: 124539, name: CZ3219, date: 2017-11-20, airport_from: 130, airport_to: 439, persons: [6595]}
FLIGHT 140000 {id: 133802, name: SU1332, date: 2017-11-22, airport_from: 794, airport_to: 987, persons: [7102]}
FLIGHT 150000 {id: 143076, name: CZ620, date: 2017-12-14, airport_from: 767, airport_to: 181, persons: [7614]}
FLIGHT 160000 {id: 152259, name: SU6013, date: 2017-03-05, airport_from: 507, airport_to: 205, persons: [8127]}
FLIGHT 170000 {id: 161430, name: SU1372, date: 2017-08-17, airport_from: 794, airport_to: 306, persons: [8632]}
FLIGHT 180000 {id: 170649, name: VN423, date: 2017-08-01, airport_from: 664, airport_to: 838, persons: [9136]}
FLIGHT 190000 {id: 179751, name: CZ3475, date: 2017-08-03, airport_from: 360, airport_to: 415, persons: [9650]}
FLIGHT 200000 {id: 188810, name: SU3980, date: 2017-06-20, airport_from: 794, airport_to: 265, persons: [10161]}
FLIGHT 210000 {id: 197834, name: AZ7407, date: 2017-06-06, airport_from: 859, airport_to: 139, persons: [10663]}
FLIGHT 220000 {id: 206859, name: KL2347, date: 2017-12-19, airport_from: 651, airport_to: 848, persons: [11177]}
FLIGHT 230000 {id: 215806, name: SU1855, date: 2017-07-09, airport_from: 264, airport_to: 794, persons: [11688]}
FLIGHT 240000 {id: 224757, name: SU2583, date: 2017-01-19, airport_from: 234, airport_to: 794, persons: [12199]}
FLIGHT 250000 {id: 233731, name: SV3885, date: 2017-09-20, airport_from: 547, airport_to: 892, persons: [12712]}
FLIGHT 260000 {id: 242624, name: AR2443, date: 2017-09-03, airport_from: 945, airport_to: 129, persons: [13218]}
FLIGHT 270000 {id: 251556, name: UX9417, date: 2017-04-30, airport_from: 543, airport_to: 529, persons: [13731]}
FLIGHT 280000 {id: 97508, name: SU2010, date: 2017-01-09, airport_from: 794, airport_to: 1057, persons: [14249, 5124]}
FLIGHT 290000 {id: 269203, name: SU2097, date: 2017-03-18, airport_from: 357, airport_to: 794, persons: [14768]}
FLIGHT 300000 {id: 58613, name: SU5629, date: 2017-01-09, airport_from: 1008, airport_to: 9, persons: [3043, 11598, 15287]}
FLIGHT 310000 {id: 41631, name: SU1451, date: 2017-01-10, airport_from: 1101, airport_to: 794, persons: [7392, 2150, 2184, 2668, 10578, 2547, 15027, 9846, 15798]}
FLIGHT 320000 {id: 295577, name: SU206, date: 2017-07-27, airport_from: 794, airport_to: 957, persons: [16301]}
FLIGHT 330000 {id: 304262, name: KL1921, date: 2017-06-10, airport_from: 848, airport_to: 520, persons: [16797]}
FLIGHT 340000 {id: 299349, name: KE7299, date: 2017-11-17, airport_from: 644, airport_to: 695, persons: [17304, 16516]}
FLIGHT 350000 {id: 321538, name: DL957, date: 2017-08-12, airport_from: 438, airport_to: 644, persons: [17816]}
FLIGHT 360000 {id: 330196, name: RO155, date: 2017-08-19, airport_from: 795, airport_to: 480, persons: [18330]}
FLIGHT 370000 {id: 338884, name: AF4329, date: 2017-05-07, airport_from: 1015, airport_to: 455, persons: [18841]}
FLIGHT 380000 {id: 42939, name: SU1143, date: 2017-01-13, airport_from: 798, airport_to: 794, persons: [2221, 19351]}
FLIGHT 390000 {id: 356112, name: UX4532, date: 2017-09-24, airport_from: 235, airport_to: 457, persons: [19856]}
FLIGHT 400000 {id: 364681, name: DL680, date: 2017-07-08, airport_from: 380, airport_to: 644, persons: [20369]}
FLIGHT 410000 {id: 373231, name: SU6691, date: 2017-01-13, airport_from: 507, airport_to: 839, persons: [20876]}
FLIGHT 420000 {id: 381742, name: MU5816, date: 2017-11-22, airport_from: 957, airport_to: 672, persons: [21383]}
FLIGHT 430000 {id: 390219, name: DL1098, date: 2017-05-01, airport_from: 417, airport_to: 644, persons: [21894]}
FLIGHT 440000 {id: 153063, name: SU1109, date: 2017-01-09, airport_from: 1053, airport_to: 794, persons: [22406, 8168, 20944, 8753, 10997]}
FLIGHT 450000 {id: 407201, name: CZ699, date: 2017-03-23, airport_from: 130, airport_to: 538, persons: [22915]}
FLIGHT 460000 {id: 415654, name: UX2001, date: 2017-11-27, airport_from: 504, airport_to: 867, persons: [23423]}
FLIGHT 470000 {id: 424110, name: MU8913, date: 2017-12-07, airport_from: 74, airport_to: 1113, persons: [23932]}
FLIGHT 480000 {id: 432489, name: DL6035, date: 2017-08-31, airport_from: 668, airport_to: 538, persons: [24437]}
FLIGHT 490000 {id: 440915, name: SU1273, date: 2017-01-22, airport_from: 1053, airport_to: 794, persons: [24941]}
FLIGHT 500000 {id: 162012, name: KL1858, date: 2017-08-13, airport_from: 720, airport_to: 848, persons: [8664, 25448]}
FLIGHT 510000 {id: 457627, name: MF8018, date: 2017-09-18, airport_from: 805, airport_to: 223, persons: [25964]}
FLIGHT 520000 {id: 465985, name: SU6032, date: 2017-04-03, airport_from: 205, airport_to: 507, persons: [26471]}
FLIGHT 530000 {id: 474318, name: CZ302, date: 2017-08-20, airport_from: 966, airport_to: 130, persons: [26980]}
FLIGHT 540000 {id: 357479, name: SV2313, date: 2017-04-22, airport_from: 452, airport_to: 892, persons: [19936, 27486]}
FLIGHT 550000 {id: 490904, name: MF9152, date: 2017-06-23, airport_from: 848, airport_to: 414, persons: [27996]}
FLIGHT 560000 {id: 499191, name: KE5952, date: 2017-03-02, airport_from: 571, airport_to: 664, persons: [28502]}
FLIGHT 570000 {id: 177052, name: CZ3273, date: 2017-07-09, airport_from: 533, airport_to: 815, persons: [29008, 9494]}
FLIGHT 580000 {id: 515629, name: AZ721, date: 2017-07-02, airport_from: 476, airport_to: 139, persons: [29514]}
FLIGHT 590000 {id: 523740, name: MU2442, date: 2017-10-05, airport_from: 623, airport_to: 561, persons: [30020]}
FLIGHT 600000 {id: 531971, name: MU765, date: 2017-11-05, airport_from: 527, airport_to: 805, persons: [30534]}
FLIGHT 610000 {id: 540270, name: MU5308, date: 2017-09-02, airport_from: 130, airport_to: 510, persons: [31042]}
FLIGHT 620000 {id: 548476, name: MF8045, date: 2017-06-10, airport_from: 223, airport_to: 181, persons: [31550]}
FLIGHT 630000 {id: 556603, name: AF7017, date: 2017-08-17, airport_from: 1015, airport_to: 746, persons: [32061]}
FLIGHT 640000 {id: 564726, name: DL743, date: 2017-12-13, airport_from: 735, airport_to: 835, persons: [32568]}

FLIGHT 650000 {id: 572898, name: MU5030, date: 2017-05-31, airport_from: 581, airport_to: 957, persons: [33073]}
FLIGHT 660000 {id: 581036, name: DL3762, date: 2017-07-29, airport_from: 697, airport_to: 230, persons: [33588]}
FLIGHT 670000 {id: 589156, name: DL2845, date: 2017-07-06, airport_from: 538, airport_to: 1125, persons: [34093]}
FLIGHT 680000 {id: 597182, name: MU2048, date: 2017-07-18, airport_from: 1113, airport_to: 182, persons: [34601]}
FLIGHT 690000 {id: 605210, name: DL151, date: 2017-08-25, airport_from: 1125, airport_to: 644, persons: [35113]}
FLIGHT 700000 {id: 613182, name: AM2628, date: 2017-10-29, airport_from: 475, airport_to: 785, persons: [35627]}
FLIGHT 710000 {id: 621171, name: DL5743, date: 2017-12-02, airport_from: 417, airport_to: 557, persons: [36137]}
FLIGHT 720000 {id: 629119, name: SU1436, date: 2017-02-03, airport_from: 794, airport_to: 486, persons: [36640]}
FLIGHT 730000 {id: 637083, name: SU1959, date: 2017-04-18, airport_from: 891, airport_to: 794, persons: [37155]}
FLIGHT 740000 {id: 645122, name: CZ323, date: 2017-08-06, airport_from: 503, airport_to: 950, persons: [37662]}
FLIGHT 750000 {id: 2420, name: SU1143, date: 2017-01-19, airport_from: 798, airport_to: 794, persons: [38176, 12091, 35204, 3717, 13221, 29512, 7983, 3351, 123, 22332]}
FLIGHT 760000 {id: 661010, name: DL1491, date: 2017-08-28, airport_from: 432, airport_to: 644, persons: [38688]}
FLIGHT 770000 {id: 507598, name: KL1303, date: 2017-06-12, airport_from: 848, airport_to: 502, persons: [29019, 39198]}
FLIGHT 780000 {id: 676856, name: AF1121, date: 2017-03-20, airport_from: 480, airport_to: 574, persons: [39715]}
FLIGHT 790000 {id: 160020, name: SU2164, date: 2017-03-07, airport_from: 794, airport_to: 978, persons: [40225, 8551]}
FLIGHT 800000 {id: 692587, name: RO710, date: 2017-04-03, airport_from: 879, airport_to: 795, persons: [40733]}
FLIGHT 810000 {id: 700527, name: MU5481, date: 2017-11-25, airport_from: 74, airport_to: 567, persons: [41233]}
FLIGHT 820000 {id: 708379, name: MU5307, date: 2017-06-10, airport_from: 510, airport_to: 130, persons: [41736]}
FLIGHT 830000 {id: 528429, name: UX3653, date: 2017-01-22, airport_from: 794, airport_to: 63, persons: [42251, 30315]}
FLIGHT 840000 {id: 723959, name: SV1022, date: 2017-08-19, airport_from: 998, airport_to: 256, persons: [42765]}
FLIGHT 850000 {id: 731715, name: MU2949, date: 2017-08-18, airport_from: 430, airport_to: 503, persons: [43276]}
FLIGHT 860000 {id: 739465, name: SV1525, date: 2017-03-18, airport_from: 998, airport_to: 831, persons: [43791]}
FLIGHT 870000 {id: 747168, name: SV3825, date: 2017-08-07, airport_from: 547, airport_to: 892, persons: [44306]}
FLIGHT 880000 {id: 754963, name: AF1559, date: 2017-03-21, airport_from: 515, airport_to: 574, persons: [44811]}
FLIGHT 890000 {id: 262646, name: SU1306, date: 2017-04-11, airport_from: 794, airport_to: 1071, persons: [14382, 45319]}
FLIGHT 900000 {id: 770417, name: KL751, date: 2017-04-14, airport_from: 848, airport_to: 380, persons: [45834]}
FLIGHT 910000 {id: 778143, name: SU1279, date: 2017-02-24, airport_from: 857, airport_to: 794, persons: [46336]}
FLIGHT 920000 {id: 325461, name: SU1478, date: 2017-02-23, airport_from: 794, airport_to: 812, persons: [46849, 18047]}
FLIGHT 930000 {id: 793548, name: OK4881, date: 2017-12-14, airport_from: 454, airport_to: 1057, persons: [47349]}
FLIGHT 940000 {id: 801257, name: CZ6472, date: 2017-05-21, airport_from: 1119, airport_to: 431, persons: [47859]}
FLIGHT 950000 {id: 808935, name: DL6086, date: 2017-09-21, airport_from: 538, airport_to: 254, persons: [48361]}
FLIGHT 960000 {id: 386959, name: SU4134, date: 2017-05-19, airport_from: 1086, airport_to: 805, persons: [21706, 48867]}
FLIGHT 970000 {id: 824313, name: SU1958, date: 2017-12-16, airport_from: 794, airport_to: 891, persons: [49373]}
FLIGHT 980000 {id: 725969, name: SU1363, date: 2017-04-04, airport_from: 605, airport_to: 794, persons: [42898, 49887]}
FLIGHT 990000 {id: 839558, name: VN431, date: 2017-05-11, airport_from: 664, airport_to: 49, persons: [50399]}
FLIGHT 1000000 {id: 766643, name: DL5431, date: 2017-12-12, airport_from: 694, airport_to: 644, persons: [45578, 50901]}
FLIGHT 1010000 {id: 854770, name: CZ3010, date: 2017-10-20, airport_from: 1113, airport_to: 545, persons: [51400]}
FLIGHT 1020000 {id: 862315, name: OK4902, date: 2017-04-03, airport_from: 1057, airport_to: 794, persons: [51912]}
FLIGHT 1030000 {id: 869964, name: KE928, date: 2017-02-05, airport_from: 837, airport_to: 664, persons: [52413]}
FLIGHT 1040000 {id: 877501, name: DL5126, date: 2017-08-22, airport_from: 1098, airport_to: 909, persons: [52919]}
FLIGHT 1050000 {id: 885011, name: CZ3503, date: 2017-03-13, airport_from: 130, airport_to: 510, persons: [53421]}
FLIGHT 1060000 {id: 892621, name: KL681, date: 2017-08-09, airport_from: 848, airport_to: 546, persons: [53920]}
FLIGHT 1070000 {id: 900117, name: MF8036, date: 2017-10-31, airport_from: 561, airport_to: 115, persons: [54426]}
FLIGHT 1080000 {id: 130190, name: SU1630, date: 2017-04-17, airport_from: 794, airport_to: 371, persons: [6907, 54931]}
FLIGHT 1090000 {id: 915051, name: AZ1603, date: 2017-12-20, airport_from: 139, airport_to: 1049, persons: [55445]}
FLIGHT 1100000 {id: 922592, name: CZ3049, date: 2017-12-12, airport_from: 130, airport_to: 935, persons: [55948]}
FLIGHT 1110000 {id: 929960, name: SU1311, date: 2017-11-18, airport_from: 42, airport_to: 794, persons: [56464]}
FLIGHT 1120000 {id: 937298, name: SU6355, date: 2017-05-16, airport_from: 507, airport_to: 42, persons: [56972]}
FLIGHT 1130000 {id: 944695, name: VN1271, date: 2017-05-28, airport_from: 898, airport_to: 838, persons: [57482]}
FLIGHT 1140000 {id: 952167, name: SU1274, date: 2017-06-02, airport_from: 794, airport_to: 1053, persons: [57989]}
FLIGHT 1150000 {id: 959641, name: KL1064, date: 2017-04-25, airport_from: 956, airport_to: 848, persons: [58496]}
FLIGHT 1160000 {id: 967132, name: CZ6499, date: 2017-08-22, airport_from: 856, airport_to: 595, persons: [59003]}
FLIGHT 1170000 {id: 551308, name: SU1638, date: 2017-01-15, airport_from: 794, airport_to: 827, persons: [31731, 59503]}
FLIGHT 1180000 {id: 981952, name: MU9664, date: 2017-10-20, airport_from: 201, airport_to: 643, persons: [60008]}
FLIGHT 1190000 {id: 816924, name: ME2258, date: 2017-04-04, airport_from: 794, airport_to: 79, persons: [60517, 48887]}
FLIGHT 1200000 {id: 996784, name: DL4916, date: 2017-08-30, airport_from: 1006, airport_to: 373, persons: [61024]}
FLIGHT 1210000 {id: 1004213, name: CZ7380, date: 2017-08-28, airport_from: 476, airport_to: 139, persons: [61536]}
FLIGHT 1220000 {id: 1011416, name: DL1118, date: 2017-10-23, airport_from: 257, airport_to: 557, persons: [62045]}
FLIGHT 1230000 {id: 1018690, name: MU2302, date: 2017-09-06, airport_from: 439, airport_to: 73, persons: [62556]}
FLIGHT 1240000 {id: 1026038, name: CZ3479, date: 2017-08-18, airport_from: 431, airport_to: 533, persons: [63068]}
FLIGHT 1250000 {id: 1033286, name: MU5062, date: 2017-02-04, airport_from: 664, airport_to: 957, persons: [63582]}
FLIGHT 1260000 {id: 1040687, name: DL6017, date: 2017-07-08, airport_from: 697, airport_to: 432, persons: [64092]}
FLIGHT 1270000 {id: 1047991, name: MU9200, date: 2017-08-20, airport_from: 567, airport_to: 510, persons: [64603]}
FLIGHT 1280000 {id: 122322, name: SU1175, date: 2017-01-16, airport_from: 921, airport_to: 794, persons: [52706, 14788, 63110, 6474, 32525, 41103, 39795, 47860, 40822, 56568, 65113, 52891]}
FLIGHT 1290000 {id: 1062496, name: DL332, date: 2017-08-20, airport_from: 1121, airport_to: 538, persons: [65623]}
FLIGHT 1300000 {id: 86111, name: SU4606, date: 2017-03-17, airport_from: 77, airport_to: 9, persons: [10846, 64649, 11022, 40463, 58223, 61585, 54930, 62354, 66132, 26680, 62585, 55963, 4508, 15550, 56543]}
CARD 0 id: 1, status: Basic, number: KE 889215424, persons: {1}
CARD 1000 id: 1001, status: Elite+, number: DT 595787272, persons: {757}
CARD 2000 id: 2001, status: Elite, number: SU 505857408, persons: {1482}
CARD 3000 id: 3001, status: Basic, number: DT 786383074, persons: {2216}
CARD 4000 id: 4001, status: Elite+, number: DT 244887380, persons: {2967}
CARD 5000 id: 5001, status: Basic, number: DT 460811835, persons: {3735}

CARD 6000 id: 6001, status: Elite, number: KE 931632626, persons: {4471}
CARD 7000 id: 7001, status: Elite, number: DT 263882403, persons: {5209}
CARD 8000 id: 8001, status: Elite, number: DT 321068189, persons: {5966}
CARD 9000 id: 9001, status: Elite+, number: DT 740730790, persons: {6733}
CARD 10000 id: 10001, status: Elite+, number: FB 479427904, persons: {7490}
CARD 11000 id: 11001, status: Elite+, number: SU 100287260, persons: {8239}
CARD 12000 id: 12001, status: Basic, number: KE 450261892, persons: {8982}
CARD 13000 id: 13001, status: Elite, number: SU 688892383, persons: {9746}
CARD 14000 id: 14001, status: Basic, number: KE 628207968, persons: {10542}
CARD 15000 id: 15001, status: Elite+, number: KE 373106023, persons: {11311}
CARD 16000 id: 16001, status: Basic, number: SU 929269999, persons: {12072}
CARD 17000 id: 17001, status: Basic, number: SU 56306249, persons: {12799}
CARD 18000 id: 18001, status: Basic, number: KE 429493787, persons: {13546}
CARD 19000 id: 19001, status: Elite, number: SU 904521728, persons: {14268}
CARD 20000 id: 20001, status: Elite, number: FB 374505776, persons: {15016}
CARD 21000 id: 21001, status: Elite, number: SU 366724097, persons: {15748}
CARD 22000 id: 22001, status: Elite+, number: SU 43465523, persons: {16486}
CARD 23000 id: 23001, status: Elite+, number: SU 302690293, persons: {17242}
CARD 24000 id: 24001, status: Elite, number: SU 427278557, persons: {17966}
CARD 25000 id: 25001, status: Elite+, number: KE 651658130, persons: {18726}
CARD 26000 id: 26001, status: Elite, number: DT 757169708, persons: {19460}
CARD 27000 id: 27001, status: Elite, number: FB 212940410, persons: {20235}
CARD 28000 id: 28001, status: Elite+, number: DT 400266290, persons: {20965}
CARD 29000 id: 29001, status: Elite, number: SU 914142913, persons: {21737}
CARD 30000 id: 30001, status: Elite, number: DT 727764192, persons: {22522}
CARD 31000 id: 31001, status: Elite, number: KE 437749696, persons: {23287}
CARD 32000 id: 32001, status: Elite+, number: DT 165795184, persons: {24082}
CARD 33000 id: 33001, status: Basic, number: SU 114078356, persons: {24800}
CARD 34000 id: 34001, status: Basic, number: DT 274466685, persons: {25573}
CARD 35000 id: 35001, status: Elite+, number: KE 239596675, persons: {26344}
CARD 36000 id: 36001, status: Elite+, number: SU 595180312, persons: {27069}
CARD 37000 id: 37001, status: Basic, number: FB 653752678, persons: {27812}
CARD 38000 id: 38001, status: Elite, number: FB 455878150, persons: {28543}
CARD 39000 id: 39001, status: Elite+, number: DT 417536962, persons: {29306}
CARD 40000 id: 40001, status: Elite, number: KE 355802046, persons: {30042}
CARD 41000 id: 41001, status: Basic, number: SU 928225460, persons: {30800}
CARD 42000 id: 42001, status: Elite, number: DT 857394452, persons: {31530}
CARD 43000 id: 43001, status: Elite, number: FB 90456920, persons: {32291}
CARD 44000 id: 44001, status: Elite+, number: DT 855666125, persons: {33086}
CARD 45000 id: 45001, status: Elite+, number: DT 319075770, persons: {33837}
CARD 46000 id: 46001, status: Elite, number: KE 702732635, persons: {34574}
CARD 47000 id: 47001, status: Elite+, number: FB 490108043, persons: {35318}
CARD 48000 id: 48001, status: Basic, number: DT 655777418, persons: {36060}
CARD 49000 id: 49001, status: Elite, number: SU 667993847, persons: {36766}
CARD 50000 id: 50001, status: Elite+, number: DT 342336578, persons: {37487}
CARD 51000 id: 51001, status: Basic, number: KE 629070607, persons: {38262}
CARD 52000 id: 52001, status: Basic, number: SU 410650670, persons: {39020}
CARD 53000 id: 53001, status: Basic, number: KE 994659233, persons: {39788}
CARD 54000 id: 54001, status: Elite, number: KE 742724718, persons: {40537}
CARD 55000 id: 55001, status: Elite, number: SU 218275049, persons: {41288}
CARD 56000 id: 56001, status: Elite, number: SU 423538489, persons: {42028}
CARD 57000 id: 57001, status: Elite+, number: FB 809833628, persons: {42777}
CARD 58000 id: 58001, status: Elite+, number: SU 830811173, persons: {43516}
CARD 59000 id: 59001, status: Elite+, number: DT 759815511, persons: {44283}
CARD 60000 id: 60001, status: Elite, number: DT 405958796, persons: {45053}
CARD 61000 id: 61001, status: Elite+, number: SU 852379167, persons: {45807}
CARD 62000 id: 62001, status: Elite, number: KE 409371653, persons: {46561}
CARD 63000 id: 63001, status: Basic, number: KE 219493106, persons: {47292}
CARD 64000 id: 64000, status: Basic, number: DT 848352001, persons: {48070}
CARD 65000 id: 65000, status: Elite+, number: SU 424105929, persons: {48822}
CARD 66000 id: 66000, status: Basic, number: DT 138556781, persons: {49565}
CARD 67000 id: 67000, status: Elite, number: FB 924942115, persons: {50304}
CARD 68000 id: 68000, status: Elite+, number: KE 11289893, persons: {51051}
CARD 69000 id: 69000, status: Elite+, number: DT 827293377, persons: {51798}
CARD 70000 id: 70000, status: Elite+, number: KE 377301541, persons: {52515}
CARD 71000 id: 71000, status: Elite, number: SU 5181510, persons: {53271}
CARD 72000 id: 72000, status: Elite+, number: FB 841773424, persons: {53987}
CARD 73000 id: 73000, status: Elite, number: SU 667957590, persons: {54752}
CARD 74000 id: 74000, status: Elite, number: FB 814097915, persons: {55526}
CARD 75000 id: 75000, status: Elite+, number: SU 635457293, persons: {56285}
CARD 76000 id: 76000, status: Basic, number: DT 992995901, persons: {57004}
CARD 77000 id: 77000, status: Elite+, number: KE 547008943, persons: {57739}
CARD 78000 id: 78000, status: Elite+, number: FB 910107932, persons: {58465}
CARD 79000 id: 79000, status: Elite, number: SU 663651747, persons: {59223}
CARD 80000 id: 80000, status: Elite+, number: DT 987631348, persons: {59963}
CARD 81000 id: 81000, status: Elite, number: FB 958423478, persons: {60740}
CARD 82000 id: 82000, status: Elite+, number: SU 47061420, persons: {61471}
CARD 83000 id: 83000, status: Elite, number: DT 245505328, persons: {62189}
CARD 84000 id: 84000, status: Elite, number: KE 652946406, persons: {62949}
CARD 85000 id: 85000, status: Elite, number: SU 348875551, persons: {63697}
CARD 86000 id: 86000, status: Basic, number: SU 171954550, persons: {64449}
CARD 87000 id: 87000, status: Basic, number: DT 538343826, persons: {65233}
CARD 88000 id: 88000, status: Elite, number: DT 754136598, persons: {65999}

In [196]:
SkyTeamExchange_flight = pd.read_csv('./SkyTeam-Exchange/csv/SkyTeam-Exchange.flight.csv')

start = Flight.max_id
for index, flight_csv in SkyTeamExchange_flight.iterrows():
    card_obj = Card(None, flight_csv.card_id)
    Card.max_id -= 1
    
    if card_obj in cards:
        card_obj= cards[card_obj]
        person_id, person_obj = get_person_id(None, None, None, str(list(card_obj.persons)[0]))
        
        flight_id, flight_obj = get_flight_id(
            flight_csv.id, 
            flight_csv.date,
            flight_csv['from'],
            flight_csv['to'])
        flight_obj.persons.add(person_id)
        person_obj.flights.add(flight_id)
        
    if index % 10000 == 0:
        print('SE FLIGHT', index)
print(Flight.max_id - start)

SE FLIGHT 0
SE FLIGHT 10000
SE FLIGHT 20000
SE FLIGHT 30000
SE FLIGHT 40000
SE FLIGHT 50000
SE FLIGHT 60000
SE FLIGHT 70000
SE FLIGHT 80000
SE FLIGHT 90000
SE FLIGHT 100000
SE FLIGHT 110000
SE FLIGHT 120000
SE FLIGHT 130000
SE FLIGHT 140000
SE FLIGHT 150000
SE FLIGHT 160000
SE FLIGHT 170000
SE FLIGHT 180000
SE FLIGHT 190000
SE FLIGHT 200000
SE FLIGHT 210000
SE FLIGHT 220000
SE FLIGHT 230000
SE FLIGHT 240000
SE FLIGHT 250000
SE FLIGHT 260000
SE FLIGHT 270000
SE FLIGHT 280000
SE FLIGHT 290000
SE FLIGHT 300000
SE FLIGHT 310000
SE FLIGHT 320000
SE FLIGHT 330000
SE FLIGHT 340000
SE FLIGHT 350000
SE FLIGHT 360000
SE FLIGHT 370000
SE FLIGHT 380000
SE FLIGHT 390000
SE FLIGHT 400000
SE FLIGHT 410000
SE FLIGHT 420000
SE FLIGHT 430000
SE FLIGHT 440000
SE FLIGHT 450000
SE FLIGHT 460000
SE FLIGHT 470000
SE FLIGHT 480000
SE FLIGHT 490000
SE FLIGHT 500000
SE FLIGHT 510000
SE FLIGHT 520000
SE FLIGHT 530000
SE FLIGHT 540000
SE FLIGHT 550000
SE FLIGHT 560000
SE FLIGHT 570000
SE FLIGHT 580000
SE FLIGHT 590000
SE FLIGHT 600000
SE FLIGHT 610000
SE FLIGHT 620000
SE FLIGHT 630000
SE FLIGHT 640000
SE FLIGHT 650000
SE FLIGHT 660000
SE FLIGHT 670000
SE FLIGHT 680000
SE FLIGHT 690000
SE FLIGHT 700000
SE FLIGHT 710000
SE FLIGHT 720000
SE FLIGHT 730000
SE FLIGHT 740000
SE FLIGHT 750000
SE FLIGHT 760000
SE FLIGHT 770000
SE FLIGHT 780000
SE FLIGHT 790000
SE FLIGHT 800000
SE FLIGHT 810000
SE FLIGHT 820000
SE FLIGHT 830000
SE FLIGHT 840000
SE FLIGHT 850000
SE FLIGHT 860000
SE FLIGHT 870000
SE FLIGHT 880000
SE FLIGHT 890000
SE FLIGHT 900000
SE FLIGHT 910000
SE FLIGHT 920000
SE FLIGHT 930000
SE FLIGHT 940000
SE FLIGHT 950000
SE FLIGHT 960000
SE FLIGHT 970000
SE FLIGHT 980000
SE FLIGHT 990000
SE FLIGHT 1000000
SE FLIGHT 1010000
SE FLIGHT 1020000
SE FLIGHT 1030000
SE FLIGHT 1040000
SE FLIGHT 1050000
SE FLIGHT 1060000
SE FLIGHT 1070000
SE FLIGHT 1080000
SE FLIGHT 1090000
SE FLIGHT 1100000
SE FLIGHT 1110000
SE FLIGHT 1120000
SE FLIGHT 1130000
SE FLIGHT 1140000
SE FLIGHT 1150000
SE FLIGHT 1160000
SE FLIGHT 1170000
SE FLIGHT 1180000
SE FLIGHT 1190000
SE FLIGHT 1200000
SE FLIGHT 1210000
SE FLIGHT 1220000
SE FLIGHT 1230000
SE FLIGHT 1240000
SE FLIGHT 1250000
SE FLIGHT 1260000
SE FLIGHT 1270000
SE FLIGHT 1280000
SE FLIGHT 1290000
SE FLIGHT 1300000
SE FLIGHT 1310000
SE FLIGHT 1320000
SE FLIGHT 1330000
SE FLIGHT 1340000
SE FLIGHT 1350000
SE FLIGHT 1360000
SE FLIGHT 1370000
SE FLIGHT 1380000
SE FLIGHT 1390000
SE FLIGHT 1400000
SE FLIGHT 1410000
SE FLIGHT 1420000
SE FLIGHT 1430000
SE FLIGHT 1440000
SE FLIGHT 1450000
SE FLIGHT 1460000
SE FLIGHT 1470000
SE FLIGHT 1480000
SE FLIGHT 1490000
SE FLIGHT 1500000
SE FLIGHT 1510000
SE FLIGHT 1520000
SE FLIGHT 1530000
SE FLIGHT 1540000
SE FLIGHT 1550000
SE FLIGHT 1560000
SE FLIGHT 1570000
SE FLIGHT 1580000
SE FLIGHT 1590000
SE FLIGHT 1600000
SE FLIGHT 1610000
SE FLIGHT 1620000
SE FLIGHT 1630000
SE FLIGHT 1640000
SE FLIGHT 1650000
SE FLIGHT 1660000
SE FLIGHT 1670000
SE FLIGHT 1680000
14497

In [197]:
len(persons.keys())

66592

In [198]:
airports_arr = []
airports_arr.append([
    'id',
    'iata',
    'country',
    'city'
])
for k in airports.keys():
    airports_arr.append([
        k.id, k.iata, k.country, k.city
    ])
airports_df = pd.DataFrame(airports_arr)
airports_df.to_csv('./rel_csv/airports.csv', index=False, header=False)

flights_arr = []
flights_arr.append([
    'id',
    'persons',
    'name',
    'date',
    'airport_from',
    'airport_to'
])
for k in flights.keys():
    flights_arr.append([
        k.id, k.persons, k.name, k.date, k.airport_from, k.airport_to
    ])
flights_df = pd.DataFrame(flights_arr)
flights_df.to_csv('./rel_csv/flights.csv', index=False, header=False)

persons_arr = []
persons_arr.append([
    'id',
    'flights',
    'cards',
    'document',
    'first_name',
    'last_name',
    'uuid'
])
for k in persons:
    persons_arr.append([
        k.id, k.flights, k.cards, k.document, k.first_name, k.last_name, k.uuid
    ])
persons_df = pd.DataFrame(persons_arr)
persons_df.to_csv('./rel_csv/persons.csv', index=False, header=False)

cards_arr = []
cards_arr.append([
    'id',
    'persons',
    'status',
    'number'
])
for k in cards:
    cards_arr.append([
        k.id, k.persons, k.status, k.number
    ])
cards_df = pd.DataFrame(cards_arr)
cards_df.to_csv('./rel_csv/cards.csv', index=False, header=False)

{id: 299, iata: LAX, country: United States of, city: Los Angeles CA}

In [88]:
FrequentFlyerForumProfiles_account.loc[47864]

id               47864
sex             Female
first_name      OLESYA
last_name     GOLOVINA
Name: 47864, dtype: object

In [16]:
FrequentFlyerForumProfiles_flight.head()

   id  account_id  flight        date  codeshare  arrival  departure
0   1           1  DL3377  2017-03-04      False      668        438
1   2           1  DL3630  2017-07-21      False     1006        786
2   3           1  DL5361  2017-03-22      False      697        668
3   4           1  SU3702  2017-01-04       True      440        794
4   5           1  DL3412  2017-08-08      False      644       1105

In [19]:
FrequentFlyerForumProfiles_account.head()

    id   sex first_name last_name
id
1    1  Male        NaN       NaN
2    2  Male      NAZAR     ZYKOV
3    3   NaN        NaN       NaN
4    4   NaN        NaN       NaN
5    5  Male     RUSLAN   D'YAKOV

In [39]:
len(set([1,2]))

2

In [94]:
a, b = get_person_id(None, None, None, 'FrequentFlyer' + str(2))
print(str(b))

{id: 2, document: None, first_name: NAZAR, last_name: ZYKOV, flights: [32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 23, 24, 25, 26, 27, 28, 29, 30, 31]}